[submodule "monitoring-bag"]
	path = monitoring-bag
	url = https://github.com/ICGC-TCGA-PanCancer/monitoring-bag.git
[submodule "container-host-bag"]
	path = container-host-bag
	url = https://github.com/ICGC-TCGA-PanCancer/container-host-bag.git
[submodule "central-decider-client"]
	path = central-decider-client
	url = https://github.com/ICGC-TCGA-PanCancer/central-decider-client
