#! /bin/bash

nohup java -DCONSONANCE_LOG_FILE=/home/ubuntu/arch3/logs/Coordinator.log -cp /home/ubuntu/arch3/pancancer.jar info.pancancer.arch3.coordinator.Coordinator $@ &>> /home/ubuntu/arch3/logs/coordinator.out
