#! /bin/bash
SERVICE_NAME=Coordinator
LOG_FILE="/var/log/arch3/$SERVICE_NAME.log"
PID_FILE="/var/run/arch3_$SERVICE_NAME.pid"
CLASS_NAME=info.pancancer.arch3.coordinator.Coordinator
JAR_FILE=/home/ubuntu/arch3/pancancer.jar
CONFIG_PATH=/etc/arch3/masterConfig.ini
CMD_ARGS="-DFULL_LOGGING_PATH=$LOG_FILE -cp $JAR_FILE $CLASS_NAME --endless --config $CONFIG_PATH"
CMD="/usr/bin/java"
ARCH3_USER=ubuntu

case "$1" in
  start)
      echo "Starting up $SERVICE_NAME..."
      set -e
      #The log file and pid file need to exist and be accessible to the ubuntu user, or the java process will fail.
      sudo touch $LOG_FILE
      sudo chmod a+rw $LOG_FILE
      sudo touch $PID_FILE
      sudo chown ubuntu $PID_FILE

      start-stop-daemon --start -b -m --no-close --pidfile $PID_FILE --chuid $ARCH3_USER --exec $CMD -- $CMD_ARGS >> $LOG_FILE 2>&1
      set +e
      cat $PID_FILE
    ;;
  stop)
     echo "Stopping $SERVICE_NAME..."
     set -e
     sudo start-stop-daemon --stop --signal KILL -m --pidfile $PID_FILE --exec $CMD -- $CMD_ARGS >> $LOG_FILE 2>&1
     sudo rm -f $PID_FILE
     set +e
    ;;
  status)
    sudo start-stop-daemon --status --pidfile $PID_FILE
    PROC_STATUS=$?
    echo "Status code: $PROC_STATUS"
    case "$PROC_STATUS" in
      0)
        echo "$SERVICE_NAME is running, with PID: $(cat $PID_FILE)"
        ;;
      1)
        echo "$SERVICE_NAME is not running, but PID file may exist: $PID_FILE"
        cat $PID_FILE
        ;;
      3)
        echo "$SERVICE_NAME is not running."
        ;;
      4)
        echo "Unable to determine status of $SERVICE_NAME!"
        ;;
    esac
    #use the result from `start-stop-daemon --status` as the exit code, after printing the status message.
    exit $PROC_STATUS
    ;;
  restart)
     echo "Restarting $SERVICE_NAME..."
     set -e
     sudo start-stop-daemon --stop --signal KILL -m --pidfile $PID_FILE --exec $CMD -- $CMD_ARGS >> $LOG_FILE 2>&1
     #start-stop-daemon does not clean up the pid file so we need to do that here.
     sudo rm -f $PID_FILE
     start-stop-daemon --start -b -m --no-close --pidfile $PID_FILE --chuid $ARCH3_USER --exec $CMD -- $CMD_ARGS >> $LOG_FILE 2>&1
     set +e
     cat $PID_FILE
    ;;
  *)
    echo $"Usage: $0 {start|stop|status|restart}"
    exit 1
    ;;
esac

# nohup java -cp /home/ubuntu/arch3/pancancer.jar info.pancancer.arch3.coordinator.Coordinator $@ &> $LOG_FILE
exit 0
