[rabbit]
rabbitMQHost={{ queueHost }}
rabbitMQUser={{ queueUser }}
rabbitMQPass={{ queuePassword }}
rabbitMQQueueName={{ queueName  }}

[database]
postgresHost=127.0.0.1
postgresUser=queue_user
postgresPass=queue
postgresDBName=queue_status

[generator]
results={{ results_file }}
check_previous_job_hash=true

[report]
namespace=pipboy
slack_token=

[coordinator]
max_seconds_before_lost=3600

[provision]
max_running_containers={{ max_running_containers }}
youxia_deployer_parameters=--max-spot-price 0.001 --batch-size 3 --ansible-playbook /home/ubuntu/architecture-setup/container-host-bag/install.yml  -e /home/ubuntu/params.json


