{
	"rabbitMQQueueName":"{{ queueName  }}",
	"rabbitMQHost":"{{ queueHost }}",
	"rabbitMQUser":"{{ queueUser }}",
	"rabbitMQPass":"{{ queuePassword }}",
	"max_running_containers":"{{ max_running_containers }}",
        "max_seconds_before_lost":"{{ max_seconds_before_lost }}",
	"check_previous_job_hash":"{{ check_previous_job_hash }}",
	"results":"{{ results_file }}",
	"hostUserName":"{{ hostUser }}"
}
