#! /bin/bash

nohup java -DCONSONANCE_LOG_FILE=/home/ubuntu/arch3/logs/Reporter.log -cp /home/ubuntu/arch3/bin/pancancer-reporting-*.jar  info.pancancer.arch3.reportbot.SlackReportBot $@ &>> /home/ubuntu/arch3/logs/report-bot.out
