[youxia]
sensu_username = admin
sensu_password = seqware
sensu_ip_address = {{ queueHost }}
sensu_port = 4567
managed_tag = {{ managed_tag }} 
slack_webhook = <slack RSS handler> 

# aws settings
aws_ssh_key = <path to ssh key>
aws_key_name = <key name on Amazon>
region = eu-west-1 
# to specify multiple zones, use a comma-separated list
# we will target the zone with the cheapest spot price first
zone = eu-west-1a
# openstack settings
openstack_username = <tenant>:<username> 
openstack_password = <password>
openstack_endpoint = http://10.5.73.21:5000/v2.0
openstack_key_name = <key name on OpenStack>
openstack_ssh_key = <path to SSH key>
openstack_region = <region>
# openstack_zone = <zone>

[deployer]
ami_image = <image id>
instance_type = m1.xlarge
security_group = <security group>
product = Linux/UNIX
# disable this for integration with pancancer_launcher
disable_sensu_server = true

[deployer_openstack]
min_cores = 4 
min_ram = 16384
image_id = <image id>
security_group = default
network_id = <network id>
arbitrary_wait = 200000

[seqware]
rest_user = admin@admin.com
rest_pass = admin
rest_port = 8080
rest_root = SeqWareWebService

[generator]
max_scheduled_workflows = 1
max_workflows = 1
workflow_accession = 1 
workflow_name = HelloWorld 
workflow_version = 1.0-SNAPSHOT
